@model DotAPicker.ViewModels.ExportProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/sliders.css")" rel="stylesheet" type="text/css" />

<h2>Export Profile</h2>

<p>
    Exports your profile data to an XML file. Think of it like a backup file. It can also be uploaded to a new profile to "copy" the data. Optionally, you can choose not to include your tips and relationships; this pretty much just copies the heroes.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IncludeNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IncludeNotes)
                    @Html.ValidationMessageFor(model => model.IncludeNotes, "", new { @class = "text-danger" })
                </div>                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export Profile" class="btn btn-default" />
                <br />
                <i>(this might take a minute)</i>
            </div>
            
        </div>

        <div>
            
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
