@using DotAPicker.ViewModels
@using DotAPicker.Models
@model IEnumerable<RelationshipViewModel>

@{
    ViewBag.Title = "Tip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Tips</h1>

<input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Search hero name..." />
<select id="filterPreference" onchange="filterFunction()">
    <option value="">Search by relationship type</option>
    @foreach (string option in Enum.GetNames(typeof(RelationshipType)))
    {
        <option value="@option">@option</option>
    }
</select>
<table>
    <tr><td>
    <table id="filterTable">
        <tr class="header">
            <td>Hero 1 Name</td>
            <td>Hero 2 Name</td>
            <td style="display:none">Alternative Names</td>
            <td>Type</td>
            <td>Text</td>
            <td>Actions</td>
        </tr>
        @{
            foreach (var relationship in Model)
            {
                <tr>
                    <td>@relationship.Hero1.Name</td>
                    <td>@relationship.Hero2.Name</td>
                    <td style="display:none">@relationship.AltNameSet</td>
                    <td>@relationship.Type</td>
                    <td>@relationship.Description</td>
                    <td>@Html.ActionLink("(edit)", "Edit", new { id = relationship.ID }) @Html.ActionLink("(delete)", "Delete", new { id = relationship.ID })</td>
                </tr>
            }
        }
    </table>
    </td></tr>
    <tr>
        <td align="right">
            <input type="button" value="New Tip" onclick="location.href='@Url.Action("Create")'" />
        </td>
    </tr>
</table>

<script>
    //https://www.w3schools.com/howto/howto_js_filter_table.asp
    function filterFunction() {
        // Declare variables
        var input, filter, table, tr, i, searchPreference, td_preference, td_altNames, td_hero_Name;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("filterTable");
        tr = table.getElementsByTagName("tr");
        searchPreference = document.getElementById("filterPreference").value;

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            td_heroName = tr[i].getElementsByTagName("td")[0].innerHTML.toUpperCase() + tr[i].getElementsByTagName("td")[1].innerHTML.toUpperCase();
            td_altNames = tr[i].getElementsByTagName("td")[2].innerHTML.toUpperCase();
            td_preference = tr[i].getElementsByTagName("td")[3].innerHTML;
            
            if (td_heroName) {
                if ((td_heroName.indexOf(filter) > -1 ||
                    td_altNames.indexOf(filter) > -1) &&
                    (searchPreference == "" || td_preference == searchPreference)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>