@using DotAPicker.Models
@model List<Relationship>

@{
    ViewBag.Title = "Relationships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Relationships</h1>

<div class="row">
    <div class="col-xs-2">
        <input type="text" id="filterInput" style="display:inline-block" onkeyup="filterFunction()" placeholder="Search hero or label name..." />
    </div>
    <div class="col-xs-3">
        <select id="filterPreference" class="form-control" onchange="filterFunction()">
            <option value="">Search by tip type</option>
            @foreach (string option in Extensions.GetEnumOptions(typeof(TipType), typeof(Relationship)))
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>
</div>

<table>
    <tr><td>
    <table id="filterTable">
        <tr class="header">
            <td>Subject</td>
            <td>Object</td>
            <td style="display:none">Alternative Names</td>
            <td>Type</td>
            <td>Text</td>
            <td>Actions</td>
        </tr>
        @{
            for (int x = 0; x < Model.Count(); x++)
            {
                                <tr>
                    <td>@Model[x].SubjectName</td>
                    <td>@Model[x].ObjectName</td>
                    <td style="display:none">@Model[x].NameSet</td>
                    <td>@Model[x].Type</td>
                    <td>@Model[x].Text</td>
                    <td>@Html.ActionLink("(edit)", "Edit", new { id = Model[x].Id }) @Html.ActionLink("(delete)", "Delete", new { id = Model[x].Id })</td>
                </tr>
            }
        }
    </table>
    </td></tr>
</table>

<script>
    //https://www.w3schools.com/howto/howto_js_filter_table.asp
    function filterFunction() {
        // Declare variables
        var input, filter, table, tr, i, searchPreference, td_preference, td_altNames, td_hero_Name;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("filterTable");
        tr = table.getElementsByTagName("tr");
        searchPreference = document.getElementById("filterPreference").value;

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            td_heroName = tr[i].getElementsByTagName("td")[0].innerHTML.toUpperCase() + tr[i].getElementsByTagName("td")[1].innerHTML.toUpperCase();
            td_altNames = tr[i].getElementsByTagName("td")[2].innerHTML.toUpperCase();
            td_preference = tr[i].getElementsByTagName("td")[3].innerHTML;
            
            if (td_heroName) {
                if ((td_heroName.indexOf(filter) > -1 ||
                    td_altNames.indexOf(filter) > -1) &&
                    (searchPreference == "" || td_preference == searchPreference)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>