@using DotAPicker.Models;
@model HeroDetailViewModel

<img src="@Model.GetImgName()" alt="Image" />


<div class="hor-title-header-row">
    <div class="hor-title-header-cell">Name</div>
</div>
<div class="hor-data-row">
    <div class="hor-data-cell">@Model.Hero.Name</div>
</div>
<div class="hor-data-row" style="max-width: 400px; padding-left: 6px;">
    @Model.Hero.Notes
</div>


<h4>Tips</h4>
<div class="hor-title-header-row">
    <div class="hor-title-header-cell">Type</div>
</div>

@foreach(Tip t in Model.Tips)
{ 
    <div class="hor-data-row">
        <div class="hor-data-cell">@t.Type</div>
    </div>
    <div class="hor-data-row" style="max-width: 400px; padding-left: 6px; border-bottom: inset">
        @t.Text
    </div>
}


<h4>Relationships</h4>
<div class="hor-title-header-row">
    <div class="hor-title-header-cell">Hero</div>
    <div class="hor-title-header-cell">Type</div>
</div>

@foreach (var r in Model.Relationships)
{
    var heroName = r.Hero1ID == Model.Hero.ID ? r.Hero2.Name : r.Hero1.Name;
    <div class="hor-data-row">
        <div class="hor-data-cell">@heroName</div>
        <div class="hor-data-cell">@r.Type</div>
    </div>
    <div class="hor-data-row" style="max-width: 400px; padding-left: 6px; border-bottom: inset">
        @r.Description
    </div>
}