@using DotAPicker.Models
@model List<Tip>

@{
    ViewBag.Title = "Tip";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var signedIn = ((User)Session["user"])?.IsAuthenticated == true;
}

<link href="~/Content/chosen.css" rel="stylesheet" />
<link href="~/Content/filter-table.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/filter-table.js"></script>

<h1>Tips</h1>

@if (signedIn)
{
    @Html.ActionLink("(new)", "Create", new { }, new { @class = "create-link", title = "New Tip" })
}

<div class="col-xs-12">
    <div class="col-xs-2">
        <input type="text" class="text-search" id="nameFilter" style="display:inline-block" onkeyup="filterFunction()" placeholder="Search hero or label name..." />
    </div>
    <div class="col-xs-3">
        <select multiple data-placeholder="Search by tip type" id="typeFilter" class="form-control" onchange="filterFunction()">
            @foreach (var option in TipType.Other.AsSelectList()) //a clumsy way of getting a list of values and display names
            {
                <option value="@option.Text">@option.Text</option>
            }
        </select>
    </div>
    <div class="col-xs-7">
        <input type="text" class="text-search" id="textFilter" style="display:inline-block" onkeyup="filterFunction()" placeholder="Search tip text..." />
    </div>
</div>

<div class="col-xs-12">
    <div class="data-row">
        <div class="header-cell col-xs-2" style="min-width: 175px">Subject Name</div>
        <div class="header-cell" style="display:none">Name Set</div>
        <div class="header-cell col-xs-1">Patch</div>
        <div class="header-cell col-xs-1">Type</div>
        <div class="header-cell col-xs-8">Text</div>
    </div>
    <div id="filterTable">
        @for (int x = 0; x < Model.Count(); x++)
        {
            <div class="data-row">
                <div class="data-row-cell col-xs-2" style="min-width: 175px" id="heroName">
                    @Model[x].SubjectName
                    @if (signedIn)
                    {
                        <div class="link-padding">
                            @Html.ActionLink("(edit)", "Edit", new { id = Model[x].Id }, new { @class = "edit-link", title = "Edit Tip" })
                            @Html.ActionLink("(delete)", "Delete", new { id = Model[x].Id }, new { @class = "delete-link", title = "Delete Tip" })
                        </div>
                    }
                </div>
                <div class="data-row-cell" style="display:none" id="nameValue">@Model[x].NameSet</div>
                <div class="data-row-cell col-xs-1" id="typeValue">
                    @Model[x].Patch
                </div>
                <div class="data-row-cell col-xs-1" id="typeValue">
                    @Html.DisplayFor(m => m.First(t => t.Id == Model[x].Id).Type)
                </div>
                <div class="data-row-cell col-xs-8" id="textValue">@Model[x].Text</div>
            </div>
        }
    </div>
</div>

<script>
    $("#typeFilter").chosen({
        width: "300px"
    });

    var filterSet = [[
        "nameFilter",
        "text",
        "nameValue",
        "inner"
    ], [
        "typeFilter",
        "multi",
        "typeValue",
        "inner"
    ], [
        "textFilter",
        "text",
        "textValue",
        "inner"
    ]
    ];
</script>