@using DotAPicker.Models
@model List<Tip>

@{
    ViewBag.Title = "Tip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Tips</h1>
<div class="row">
    <div class="col-xs-2">
        <input type="text" id="filterInput" style="display:inline-block" onkeyup="filterFunction()" placeholder="Search hero or label name..." />
    </div>
    <div class="col-xs-3">
        <select id="filterPreference" class="form-control" onchange="filterFunction()">
            <option value="">Search by tip type</option>
            @foreach (string option in Enum.GetNames(typeof(TipType)))
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>
</div>

<table>
    <tr>
        <td>
            <table id="filterTable">
                <tr class="header">
                    <td>Subject Name</td>
                    <td style="display:none">Name Set</td>
                    <td>Type</td>
                    <td>Text</td>
                    <td>Actions</td>
                </tr>
                @{
                    for (int x = 0; x < Model.Count(); x++)
                    {
                        <tr>
                            <td width="150px">@Model[x].SubjectName</td>
                            <td style="display:none">@Model[x].NameSet</td>
                            <td width="150px">@Html.DisplayFor(m => m.First(t => t.Id == Model[x].Id).Type)</td>
                            <td width="800px">@Model[x].Text</td>
                            <td width="175px">@Html.ActionLink("(edit)", "Edit", new { id = Model[x].Id }) @Html.ActionLink("(delete)", "Delete", new { id = Model[x].Id })</td>
                        </tr>
                    }


                }
            </table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <input type="button" value="New Tip" onclick="location.href='@Url.Action("Create")'" />
        </td>
    </tr>
</table>

<script>
    //https://www.w3schools.com/howto/howto_js_filter_table.asp
    function filterFunction() {
        // Declare variables
        var input, filter, table, tr, i, searchPreference, td_preference, td_altNames, td_hero_Name;
        input = document.getElementById("filterInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("filterTable");
        tr = table.getElementsByTagName("tr");
        searchPreference = document.getElementById("filterPreference").value;

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            td_heroName = tr[i].getElementsByTagName("td")[0].innerHTML.toUpperCase();
            td_altNames = tr[i].getElementsByTagName("td")[1].innerHTML.toUpperCase();
            td_preference = tr[i].getElementsByTagName("td")[2].innerHTML;

            if (td_heroName) {
                if ((td_heroName.indexOf(filter) > -1 ||
                    td_altNames.indexOf(filter) > -1) &&
                    (searchPreference == "" || td_preference == searchPreference)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>