@using DotAPicker.Models;
@model Hero

@{ 
    var signedIn = ((User)Session["user"])?.IsAuthenticated == true;
}

<div class="container" style="max-width: 600px">
    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-4">Name</div>
        <div class="hor-title-header-cell col-xs-6">Alt Names</div>
        <div class="hor-title-header-cell col-xs-2">ID</div>
    </div>
    <div class="hor-data-row row">
        <div class="hor-data-cell col-xs-4">
            @Model.Name
            @if (signedIn)
            {
                <div class="link-padding">
                    @Html.ActionLink("(edit)", "Edit", new { id = Model.Id }, new { @class = "edit-link", title = "Edit Hero" })
                    @Html.ActionLink("(delete)", "Delete", new { id = Model.Id }, new { @class = "delete-link", title = "Delete Hero" })
                </div>
            }
        </div>
        <div class="hor-data-cell col-xs-6">@Model.AltNames</div>
        <div class="hor-data-cell col-xs-2">@Model.Id</div>
    </div>
    <div class="hor-data-row row" style="border-bottom: inset">
        <div class="col-xs-12">
            @Model.Notes
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Tips</h4>
            @if (signedIn)
            {
                <div class="link-padding">
                    @Html.ActionLink("(new)", "Create", "Tip", new { heroID = Model.Id, returnToHeroList = true }, new { @class = "create-link", title = "New Tip" })
                </div>
            }
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-2">Type</div>
        <div class="hor-title-header-cell col-xs-3">Subject</div>
        <div class="hor-title-header-cell col-xs-7">Source</div>
    </div>

    @for (int x = 0; x < Model.Tips.Count(); x++)
    {
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-2">@Html.DisplayFor(Model => Model.Tips[x].Type)</div>
            <div class="hor-data-cell col-xs-3">@Html.DisplayFor(Model => Model.Tips[x].SubjectName)</div>
            <div class="hor-data-cell col-xs-7">@Html.DisplayFor(Model => Model.Tips[x].Source)</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-11">
                @Html.DisplayFor(Model => Model.Tips[x].Text)
            </div>
            @if (signedIn)
            {
                <div class="link-padding col-xs-1">
                    @Html.ActionLink("(edit)", "Edit", "Tip", new { id = Model.Tips[x].Id, returnToHeroList = true }, new { @class = "edit-link", title = "Edit Tip" })
                    @Html.ActionLink("(delete)", "Delete", "Tip", new { id = Model.Tips[x].Id, returnToHeroList = true }, new { @class = "delete-link", title = "Delete Tip" })
                </div>
            }
        </div>
    }
    @if (Model.Tips.Count() == 0)
    {
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="hor-data-cell col-xs-12" style="border-bottom: inset">
                This hero doesn't have any tips yet.
                @if (signedIn)
                {
                    @Html.ActionLink("Click here to add one!", "Create", "Tip", new { heroID = Model.Id, returnToHeroList = true }, new { title = "New Tip" })
                }
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Relationships</h4>
            <div class="link-padding">
                @if (signedIn)
                {
                    @Html.ActionLink("(new)", "Create", "Relationship", new { heroID = Model.Id, returnToHeroList = true }, new { @class = "create-link", title = "New Relationship" })
                }
            </div>
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-2">Type</div>
        <div class="hor-title-header-cell col-xs-3">Subject</div>
        <div class="hor-title-header-cell col-xs-3">Object</div>
        <div class="hor-title-header-cell col-xs-4">Source</div>
    </div>

    @foreach (var r in Model.Relationships)
    {
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-2">@r.Type</div>
            <div class="hor-data-cell col-xs-3">@r.SubjectName</div>
            <div class="hor-data-cell col-xs-3">@r.ObjectName</div>
            <div class="hor-data-cell col-xs-4">@r.Source</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-11">
                @r.Text
            </div>
            @if (signedIn)
            {
                <div class="link-padding col-xs-1">
                    @Html.ActionLink("(edit)", "Edit", "Relationship", new { id = r.Id, returnToHeroList = true }, new { @class = "edit-link", title = "Edit Relationship" })
                    @Html.ActionLink("(delete)", "Delete", "Relationship", new { id = r.Id, returnToHeroList = true }, new { @class = "delete-link", title = "Delete Relationship" })
                </div>
            }
        </div>
    }

    @if (Model.Relationships.Count() == 0)
    {
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="hor-data-cell col-xs-12" style="border-bottom: inset">
                This hero doesn't have any relationships yet.
                @if (signedIn)
                {
                    @Html.ActionLink("Click here to add one!", "Create", "Relationship", new { heroID = Model.Id, returnToHeroList = true }, new { title = "New Relationship" })
                }
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Labels</h4>
            <ul>
                @foreach (var label in Model.DescriptionLabels)
                {
                    <li>@label</li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.delete-link').click(function () {
            return window.confirm("Are you sure you want to delete this? You can't undo it and it'll hurt his feelings reeeeeeaaaaalllll bad.");
        });
    });
</script>