@using DotAPicker.Models;
@model Hero

<div class="container" style="max-width: 600px">
    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-3">ID</div>
        <div class="hor-title-header-cell col-xs-9">Alt Names</div>
    </div>
    <div class="hor-data-row row">
        <div class="hor-data-cell col-xs-3">@Model.ID</div>
        <div class="hor-data-cell col-xs-9">@Model.AltNames</div>
    </div>
    <div class="hor-data-row row" style="border-bottom: inset">
        <div class="col-xs-12">
            @Model.Notes
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Tips</h4>@Html.ActionLink(" (new)", "Create", "Tip", new { heroID = Model.ID, returnToHeroList = true }, new { })
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-3">Type</div>
        <div class="hor-title-header-cell col-xs-9">Source</div>
    </div>

    @for (int x = 0; x < Model.Tips.Count(); x++)
    {
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-3">@Html.DisplayFor(Model => Model.Tips[x].Type)</div>
            <div class="hor-data-cell col-xs-9">@Html.DisplayFor(Model => Model.Tips[x].Source)</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-12">
                @Html.DisplayFor(Model => Model.Tips[x].Text)
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Relationships</h4>@Html.ActionLink(" (new)", "Create", "Relationship", new { heroID = Model.ID, returnToHeroList = true }, new { })
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-3">Hero</div>
        <div class="hor-title-header-cell col-xs-3">Type</div>
        <div class="hor-title-header-cell col-xs-6">Source</div>
    </div>

    @foreach (var r in Model.Relationships)
    {
        var heroName = r.Hero1ID == Model.ID ? r.Hero2.Name : r.Hero1.Name;
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-3">@heroName</div>
            <div class="hor-data-cell col-xs-3">@r.Type</div>
            <div class="hor-data-cell col-xs-6">@r.Source</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-12">
                @r.Description
            </div>
        </div>
    }
</div>