@using DotAPicker.Models;
@model Hero

<div class="container" style="max-width: 600px">
    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-3">ID</div>
        <div class="hor-title-header-cell col-xs-9">Alt Names</div>
    </div>
    <div class="hor-data-row row">
        <div class="hor-data-cell col-xs-3">@Model.Id</div>
        <div class="hor-data-cell col-xs-9">@Model.AltNames</div>
    </div>
    <div class="hor-data-row row" style="border-bottom: inset">
        <div class="col-xs-12">
            @Model.Notes
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Tips</h4>@Html.ActionLink(" (new)", "Create", "Tip", new { heroID = Model.Id, returnToHeroList = true }, new { })
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-2">Type</div>
        <div class="hor-title-header-cell col-xs-3">Subject</div>
        <div class="hor-title-header-cell col-xs-7">Source</div>
    </div>

    @for (int x = 0; x < Model.Tips.Count(); x++)
    {
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-2">@Html.DisplayFor(Model => Model.Tips[x].Type)</div>
            <div class="hor-data-cell col-xs-3">@Html.DisplayFor(Model => Model.Tips[x].SubjectName)</div>
            <div class="hor-data-cell col-xs-7">@Html.DisplayFor(Model => Model.Tips[x].Source)</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-12">
                @Html.DisplayFor(Model => Model.Tips[x].Text)
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12">
            <h4 style="display: inline-block">Relationships</h4>@Html.ActionLink(" (new)", "Create", "Relationship", new { heroID = Model.Id, returnToHeroList = true }, new { })
        </div>
    </div>

    <div class="hor-title-header-row row">
        <div class="hor-title-header-cell col-xs-2">Type</div>
        <div class="hor-title-header-cell col-xs-3">Subject</div>
        <div class="hor-title-header-cell col-xs-3">Object</div>
        <div class="hor-title-header-cell col-xs-4">Source</div>
    </div>

    @foreach (var r in Model.Relationships)
    {
        <div class="hor-data-row row">
            <div class="hor-data-cell col-xs-2">@r.Type</div>
            <div class="hor-data-cell col-xs-3">@r.SubjectName</div>            
            <div class="hor-data-cell col-xs-3">@r.ObjectName</div>   
            <div class="hor-data-cell col-xs-4">@r.Source</div>
        </div>
        <div class="hor-data-row row" style="border-bottom: inset">
            <div class="col-xs-12">
                @r.Text
            </div>
        </div>
    }
</div>