@using DotAPicker.Models
@model IEnumerable<Hero>

@{
    ViewBag.Title = "Heros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.SelectedHeroID > 0)
    {

    }
    else
    {
        ViewBag.SelectedHeroID = Model.FirstOrDefault()?.Id ?? 0;
    }
}

<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/filter-table.js"></script>


<div class="container-fluid" style="width: 1020px; min-width: 720px; margin-left: 20px;">
    <div class="row">
        <div class="col-xs-4">
            <h1>Heroes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" id="filterInput" placeholder="Search by hero name..." />
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <select multiple data-placeholder="Search by hero preference" id="filterPreference" onchange="filterFunction()">
                        @foreach (string option in Enum.GetNames(typeof(HeroPreference)))
                        {
                            <option value="@option">@option</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4 style="display:inline-block">Hero List</h4>
            <div class="link-padding">
                @Html.ActionLink("(new)", "Create", new { }, new { @class = "create-link", title = "New Hero" })
            </div>
        </div>
        <div class="col-xs-7"><h4>Hero Details</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            @*Hero options table*@
            <div class="scrolling-container">
                <div class="header-scrolling-container">
                    <div class="header-cell" style="min-width: 200px">Name</div>
                    <div class="header-cell" style="display:none">Alt Names</div>
                    <div class="header-cell" style="min-width: 110px">Preference</div>
                    <div class="header-cell" style="display:none">Actions</div>
                </div>
                <div class="data-scrolling-container" id="filterHeroTable">
                    @foreach (var hero in Model)
                    {
                        var rowClass = ViewBag.SelectedHeroID == hero.Id ? "data-row selected" : "data-row";
                        <div class="@rowClass" id="@hero.Id">
                            <div class="data-row-cell" style="min-width: 200px" id="heroName">@hero.Name</div>
                            <div class="data-row-cell" style="display:none" id="heroAltNames">@hero.AltNames</div>
                            <div class="data-row-cell" id="heroPreference" style="min-width: 110px">
                                @Html.DropDownList("heroPref", @hero.Preference.AsSelectList(), new { id = hero.Id, @class = "hero-pref", controller = "hero" })
                            </div>
                            <div class="data-row-cell" id="heroActions" style="display:none"></div>
                        </div>
                    }
                </div>
                <div class="no-data" style="display: none">
                    <div class="no-data-cell" style="min-width: 417px">No heros found</div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            @*Hero detail section*@
            <div class="heroDetails"></div>
        </div>
    </div>
</div>

<script>
    $("#filterPreference").chosen({
        width: "300px"
    });

    //Register keyboard events
    $('#filterInput').keyup(function (e) {
        if (e.keyCode == 13) { //enter
            if (countVisibleHeroes() == 1) {
                var heroRow = $("div.data-row#" + firstVisibleHeroIndex())[0];
                selectRow(heroRow);
            }
        } else {
            filterFunction();
        }
    });

    //Causes clicking a row to load the detail partial view
    $('.data-row').click(function () {
        selectRow(this);
    });

    function selectRow(heroRow) {
        $(heroRow).addClass('selected').siblings().removeClass('selected');
        $('.heroDetails').load('@Url.Action("Detail", "Hero")?id=' + heroRow.id);
    }

    //Make the first hero auto-load details
    $('.heroDetails').load('@Url.Action("Detail", "Hero")?id=' + @ViewBag.SelectedHeroID);

    $(".hero-pref").change(function () {
        //Make the popdown appear on preference change, if applicable
        $('.popdown-view').load('hero/UpdatePreference?heroID=' + this.id + '&preference=' + this.options[this.selectedIndex].text);
    });

</script>

