@using DotAPicker.Models
@model IEnumerable<Hero>

@{
    ViewBag.Title = "Heroes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.SelectedHeroID > 0)
    {

    } else
    {
        ViewBag.SelectedHeroID = Model.FirstOrDefault()?.ID ?? 0;
    }
}


<h1>Heroes</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<input type="text" id="filterInput" placeholder="Search hero name..." />
<select id="filterPreference" onchange="filterFunction()">
    <option value="">Search by hero preference</option>
    @foreach (string option in Enum.GetNames(typeof(HeroPreference)))
    {
        <option value="@option">@option</option>
    }
</select>
<table>
    <tr>
        <td><h4>Hero Options</h4></td>
        <td style="padding-left: 8px"><h4>Hero Details</h4></td>
    </tr>
    <tr>
        <td valign="top">
            <div class="scrolling-container">
                <div class="header-scrolling-container">
                    <div class="header-cell" style="min-width: 200px">Name</div>
                    <div class="header-cell" style="display:none">Alt Names</div>
                    <div class="header-cell">Preference</div>
                    <div class="header-cell">Actions</div>
                </div>
                <div class="data-scrolling-container" id="filterHeroTable">
                    @foreach (var hero in Model)
                    {
                        var rowClass = ViewBag.SelectedHeroID == hero.ID ? "data-row selected" : "data-row";
                        <div class="@rowClass" id="@hero.ID">
                            <div class="data-row-cell" style="min-width: 200px" id="heroName">@hero.Name</div>
                            <div class="data-row-cell" style="display:none" id="heroAltNames">@hero.AltNames</div>
                            <div class="data-row-cell" id="heroPreference">@hero.Preference</div>
                            <div class="data-row-cell" id="heroActions">@Html.ActionLink("(edit)", "Edit", new { id = hero.ID })</div>
                        </div>
                    }
                </div>
            </div>
        </td>
        <td rowspan="2" style="padding-left: 8px" valign="top">
            <div class="heroDetails"></div>
        </td>
    </tr>
    <tr>
        <td align="right" valign="top">
            <input id="newHeroBtn" type="button" value="New Hero" onclick="location.href='@Url.Action("Create")'" />
        </td>
    </tr>
</table>

<script>
    //Keyboard shortcut for adding a new hero (Ctrl-Enter)
    document.addEventListener('keyup', keyUp, false);
    function keyUp(e) {
        if (e.ctrlKey && e.keyCode == 13) {
            $('#newHeroBtn').click();
        }
    }

    //Register keyboard events
    $('#filterInput').keyup(function () {
        filterFunction();
    });

    //Causes clicking a row to load the detail partial view
    $('.data-row').click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        $('.heroDetails').load('@Url.Action("Detail", "Hero")?id=' + this.id);
    });

    //Make the first hero auto-load details
    $('.heroDetails').load('@Url.Action("Detail", "Hero")?id=' + @ViewBag.SelectedHeroID);


    //Derived from: https://www.w3schools.com/howto/howto_js_filter_table.asp
    //This is what enables filtering the hero list by name and preference
    function filterFunction() {
        // Get search criteria
        var input = document.getElementById("filterInput");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("filterHeroTable");
        var searchPreference = document.getElementById("filterPreference").value;

        //loop through the table rows
        for (var i = 0; i < table.childNodes.length; i++)
        {
            //skip elements other than table rows
            var row = table.childNodes[i];
            if (typeof (row.className) == "undefined") {
                continue;
            } else if (row.className.indexOf("data-row") == -1) {
                continue;
            }
            
            //get the cell contents
            var heroName, heroAltNames, heroPreference;
            for (var j = 0; j < row.childNodes.length; j++)
            {
                //only process the loop for cells
                var cell = row.childNodes[j];
                if (typeof (cell.className) == "undefined") {
                    continue;
                } else if (cell.className.indexOf("data-row-cell") == -1) {
                    continue;
                }

                //get the cell contents
                switch (cell.id)
                {
                    case "heroName":
                        heroName = cell.innerHTML.toUpperCase();
                        break;
                    case "heroAltNames":
                        heroAltNames = cell.innerHTML.toUpperCase();
                        break;
                    case "heroPreference":
                        heroPreference = cell.innerHTML.toUpperCase();
                        break;
                }
            }

            //determine whether to hide the row
            var searchPreferenceMatch = searchPreference == "" || heroPreference == searchPreference;
            var nameMatch = heroName.indexOf(filter) > -1 || heroAltNames.indexOf(filter) > -1;
            var hideRow = !(searchPreferenceMatch && nameMatch);

            //hide the row, if necessary
            if (!hideRow) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
</script>